.app{
    font-size: 2rem;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 1rem;
}